# Ignore the virtual environment directory
.venv/
schedule/venv/

# Ignore images
schedule/images/

# Ignore text
schedule/text/

# Ignore logs
schedule/logs/

# Ignore Python compiled files
schedule/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore all .txt files
schedule/*.txt

# Ignore editor and IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore system files
.DS_Store
Thumbs.db

# Ignore backup files
backups/