# Ignore the virtual environment directory
.venv/
schedule/venv/

# Ignore images
schedule/images/

# Ignore Docker
docker/.env

# Ignore text
schedule/text/

# Ignore logs
schedule/logs/

# Ignore Python compiled files
schedule/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore all .txt files
schedule/*.txt

# Ignore editor and IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore system files
.DS_Store
Thumbs.db

# Ignore backup files
backups/

# Ignore portainer
docker/portainer-data/*

# Other
docker/update.sh
docker/ssh/id_rsa
